boto3
Django==3.2.14
django-storages
psycopg2-binary
python-dotenv
django-cors-headers==3.13.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
django_otp==1.1.4
cryptography
pyjwt
django_apscheduler
gunicorn
requests
google-auth